<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">Write new message</a>
    <% messages.map( e => { %>
      <h2><%= e.text %></h2>
      <p><%= e.user %> - <%= e.added %></p>
      <hr>
    <% }) %>
  </body>
</html>
